Django==1.5
Twisted==11.1.0
python-memcached==1.47
txAMQP==0.4
simplejson==2.1.6
django-tagging==0.3.1
gunicorn
pytz
pyparsing==1.5.7
http://cairographics.org/releases/py2cairo-1.8.10.tar.gz
mocker==1.1.1
whisper==0.9.12
carbon==0.9.12
graphite-web==0.9.12
